* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Onest", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #383838;
    background-color: lightgrey;
}

.quiz-window {
    max-width: 68rem;
    height: 28.5rem;
    border-radius: 1.5rem;
    background-color: #c7dae3;
    margin: calc(25% - 14.25rem) auto 0;
    padding: 2rem;
}

.quiz-window__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quiz-window__info {
    width: 25rem;
    text-align: left;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.quiz-window__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
}

.quiz-window__description {
    font-size: 1rem;
    line-height: 1.25rem;
    animation: text-animation 10s ease-in-out infinite;
}

@keyframes text-animation {
    0% {
        scale: 1;
        transform: translateX(0rem);
        color: #383838;        
    }

    25% {
        scale: 1.1;
        transform: translateX(0.5rem);
        color: #60606b;
    }

    50% {
        scale: 1.2;
        transform: translateX(1rem);
        color: #686883;
    }

    75% {
        scale: 1.1;
        transform: translateX(0.5rem);
        color: #60606b;
    }

    100% {
        scale: 1;
        transform: translateX(0rem);
        color: #383838;
    }    
}

.quiz-window__icon {
    width: 14rem;
    height: 14rem;
    align-self: flex-start;
    animation: size-change 10s ease-in-out infinite;
}

@keyframes size-change {
    0% {
        width: 14rem;
        height: 14rem;
    }

    25% {
        width: 12rem;
        height: 12rem;
    }

    50% {
        width: 10rem;
        height: 10rem;
    }

    75% {
        width: 12rem;
        height: 12rem;
    }

    100% {
        width: 14rem;
        height: 14rem;
    }    
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.step {
    width: 36rem;
    height: 24.5rem;
    background: #ffffff;
    border-radius: 24px;
    padding: 2rem;
    position: relative;
}

.step_animated {
    animation: opas 0.7s linear;
}

@keyframes opas {
    from {
        background-color: #c7dae3;
        opacity: 0;
    }

    25% {
        background-color: #c7dae3;
        opacity: 0.3;
    }

    50% {
        background-color: #c6d0d5;
        opacity: 0.5;
    }

    75% {
        background-color: #ffffff;
        opacity: 0.7;
    }

    to {
        background-color: #ffffff;
        opacity: 1;
    }
}

.step__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.step__question {
    font-weight: 600;
    line-height: 1.25rem;
}

.step__number {
    line-height: 1.25rem;
    color: #9b9b9b;
}

.step__main {
    display: flex;
    flex-direction: column;
}

.step__main_sm-radio,
.step__main_lg-radio {
    flex-direction: row;
    margin-bottom: 3.5rem;
}

.step__inner_first {
    margin-right: 0.5rem;
}

.step__inner_first,
.step__inner_second,
.step__inner {
    border: none;
}

.step__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15.75rem;
    height: 3.5rem;
    padding: 1.125rem 1rem;
    background: #f5f5f5;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.step__item_lg {
    width: 32rem;
    border: none;
    outline: none;
}

.step__item_lg[placeholder] {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #9b9b9b;
}

.step__item_checked {
    border: 1px solid #383838;
    background-color: #ffffff;
}

.step__item:has(.step__input:checked) {
    border: 1px solid #383838;
    background-color: #ffffff;
}

.step__input {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    position: relative;
    accent-color: #ffffff;
}

.step__input:checked::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 6px solid #383838;
    left: 0;
    top: 0;
}

.step__select {
    width: 32rem;
    height: 3.5rem;
    border: 1px solid #383838;
    border-radius: 1rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1rem;
}

.select__text {
    display: flex;
    flex-direction: column;
}

.select__title {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #9b9b9b;
    margin-bottom: 0.25rem;
}

.select__icon {
    cursor: pointer;
    transform: rotate(-90deg);
}

.select__icon_clicked {
    transform: rotate(0);
}

.step__chekboxes {
    width: 32rem;
    height: 10.75rem;
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    overflow-y: scroll;
    border: none;
    padding: 1rem;
    margin-bottom: 1.25rem;
}

.step__item_checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem 0;
}

.step__item_checkbox:has(.step__checkbox:checked) {
    border-bottom: 1px solid rgba(56, 56, 56, 0.1);
    padding-bottom: 1rem;
}

.step__checkbox {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    accent-color: #383838;
    margin-right: 0.5rem;
}

.step__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 31.5rem;
    bottom: 2rem;
    right: 2.5rem;
}

.step__footer_send {
    flex-direction: column;
}

.step_1 .step__footer {
    justify-content: flex-end;
}

.step__btn {
    width: 6.75rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.step__btn_right {
    background-color: #383838;
    color: #ffffff;
    border: none;
}

.step__btn_right:hover {
    background-color: #263718;
    transition: all 1s;
}

.step__btn_right:hover:disabled {
    background-color: #383838;
}

.step__btn_left {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
}

.step__btn_left:hover {
    background-color: #e0e6dc;
    transition: all 1s;
}

.step__btn_lg {
    width: 32rem;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: #383838;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.step__person-data {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #9b9b9b;
}

.finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 24.5rem;
    background: #ffffff;
    border-radius: 24px;
    padding: 2rem;
}

.finish__icon {
    margin-bottom: 24px;
}

.finish__title {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 8px;
}

.finish__text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9b9b9b;
    max-width: 18.625rem;
    text-align: center;
}

.hidden {
    display: none;
}

a {
    cursor: pointer;
    color: inherit;
}
